# Python environment
venv/
.venv/

# Abaqus output
runs/
*.rpy*
*.log
*.rec*
*simdir/

# Bytecode
__pycache__/
*.py[cod]

# Build artifacts
*.egg-info/
build/
dist/

# Specific files and folders
/material_parameters/
test.cae
test.jnl
test.py
/Remesh/
RemeshSubmissionFile.py
/ForceControl/
ForceControlSubmit.py
IndenterShapeStudy.py
MassScaleConvergence.py
MeshConvergence.py
VelocityConvergence.py
MaterialParamsStudy.py
WearEffect.py
test.ipynb
