# Python environment
venv/
.venv/

# Abaqus output
runs/
*.rpy*
*.log
*.rec*
*simdir/

# Bytecode
__pycache__/
*.py[cod]

# Build artifacts
*.egg-info/
build/
dist/

# Specific files
/material_parameters.py
/material_parameters.csv
